<%- include('includes/start') %>
    <div class="form">
        <form action="/display-files" method="POST">
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Display Files</button>
        </form>
    </div>
<%- include('includes/end') %>